@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    font-family: 'Lato', sans-serif;
}    
body {
    max-width: 800px;
    margin: auto;
    padding: 0 5px;
} 
header nav ul {
    padding-left: 0;
}
header nav {
    margin: 0 5px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    text-decoration: underline;
}
.wrapper {
  display: grid;
  grid-template-columns: 150px 250px 125px;
  grid-gap: 10%;
  background-color: #66CDAA;
  color: #444;
}

.box {
  background-color: #66CDAA;
  color: black;
  border-radius: 0;
  padding: 0;
  font-size: 12px;
}
p {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}    
@media (min-width: 400px){
    header h1, nav{
        display: flex;
            }
    header nav ul{
        display: flex;
        flex: 1;
        align-items: center;
    }
    header nav ul li{
        margin-left: 8%;
    }
    header div.banner {
        height: 500px;
        background-image: url(../img/ernesthemingwaywriting.jpg);
        background-position: center;
        background-size: cover; 
        display: flex;
        align-items: flex-start;
        justify-content: left;
    } 
}    
h1 {
    font-weight: bold;
    font-size: 50px;
    text-indent: 50px;
}
h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
body {
    background-color: #66CDAA;
}    

footer {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #008B8B; 
}